# ==============================
# Android Project GitIgnore
# ==============================

# Gradle
.gradle/
build/
*/build/
!gradle/wrapper/gradle-wrapper.jar

# Local configuration
local.properties

# IntelliJ / Android Studio
.idea/
*.iml

.idea/caches/
.idea/libraries/
.idea/workspace.xml
.idea/modules.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# OS specific files
.DS_Store
Thumbs.db

# Captures 
captures/

# External Native Build (CMake / NDK)
.externalNativeBuild/
.cxx/

# Signing keys 
*.jks
*.keystore

# Logs
*.log

# Build intermediates
*/intermediates/
*/generated/

# Firebase & Google Services
google-services.json

# Crashlytics / Fabric
.crashlytics/
fabric.properties

# Android profiling / memory dump
*.hprof

.vscode/

# Fastlane (CI/CD)
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Gradle cache files (phụ trợ)
.gradle-app.setting

